<mat-chip-list>
  <mat-chip [selected]="category === store?.category" *ngFor="let category of categories">{{ category }}</mat-chip>
</mat-chip-list>
<br />
<p>Ceci est le détail du commerce : {{ store.id }}</p>
<button mat-raised-button color="primary" (click)="back()">Accueil</button>
