<mat-form-field floatLabel="never" appearance="fill">
  <input matInput type="search" placeholder="Nom de commerce" [matAutocomplete]="auto" [formControl]="searchStore">
  <button mat-button *ngIf="searchStore.value; else empty" matSuffix mat-icon-button (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
  <ng-template #empty>
    <mat-icon matSuffix>search</mat-icon>
  </ng-template>
  <mat-autocomplete id="store-autocomplete" #auto="matAutocomplete">
    <mat-option *ngFor="let store of filteredStores" (click)="toStoreDetails(store)">
      <span>{{ store.name }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
