<mat-card class="store-card">
  <mat-card-header>
    <mat-card-title>{{ store.name }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="!isExpired(); else expired">{{ store.start | date: 'dd/MM/yy HH:mm' }} - {{ store.end | date: 'HH:mm' }}</span>
    </mat-card-subtitle>
    <ng-template #expired>
      <mat-card-subtitle>{{ store.end | expiredSince }}</mat-card-subtitle>
    </ng-template>
  </mat-card-header>

  <mat-card-content>
    <span>{{ store.description }}</span>
  </mat-card-content>

  <mat-card-actions align="end">
    <span>
      <nc-badge ncCapacityColor [capacity]="store.capacity" *ngIf="store.capacity > 0">
        <span *ngIf="store.capacity === 1" badge-icon>notification_important</span>
        <span [ngPlural]="store.capacity">
          <ng-template ngPluralCase="=1">Dernière chance</ng-template>
          <ng-template ngPluralCase="=2">{{store.capacity}} à sauver</ng-template>
          <ng-template ngPluralCase="=3">{{store.capacity}} à sauver</ng-template>
          <ng-template ngPluralCase="=4">{{store.capacity}} à sauver</ng-template>
          <ng-template ngPluralCase="other">5+ à sauver</ng-template>
        </span>
      </nc-badge>
    </span>
    <span class="fx-spacer"></span>
    <button mat-icon-button (click)="toggle()" ncStopPropagation>
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
