<nc-filter (filterEmpty)="filterEmpty($event)"></nc-filter>

<div *ngFor="let category of categories">
  <h2>{{ category }}</h2>
  <nc-store-cards [withEmpty]="withEmpty" [stores]="getStoresByCategory(category)"></nc-store-cards>
</div>
